<?xml version="1.0" encoding="UTF-8"?>
<widget     xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
               id   = "com.soongboyu.FaceOff"
      versionCode   = "10" 
          version   = "1.0.0"> 
 
    <name>FaceOff</name>
 
    <description>
        by Free
    </description>
 
    <author href="http://soongboyu.eicp.net" email="soongboyu@gmail.com"> 
        soongboyu
    </author>
 
    <gap:platforms>
        <gap:platform name="android"/>
        <gap:platform name="webos"/>
        <gap:platform name="symbian"/>
        <gap:platform name="winphone" />
        <gap:platform name="blackberry"/>
    </gap:platforms>
    <icon src="images/icon.png" gap:role="default" /> 
    <gap:splash src="images/splash.png"/> 
    <preference name="fullscreen" value="true" />
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    
</widget>