.ui-page.ui-body-a.ui-page-active .ui-header.ui-bar-a { display: none; }


#page1 .ui-listview { text-align: center; }
#page1 .ui-listview .ui-btn {
	width: 35%;
	height: 30%;
	display: inline-block;
	border: none;
	margin: 10% 0px 0px 10%;
	background-image: none;
	background-color: transparent;
}
#user{
	position: absolute;
	top: 110px;
	left: 30px;
}
/* Wordmark and overlay */
#wordmark {
	z-index: 3;
	background: #8c1515;
	padding: 20px 0;
	border-bottom: 4px solid #d2bd86;
}
#wordmark img {
	margin: 0 auto;
	display: block;
}
#mainButtons{
	position: absolute;
	top:10%;
	right:5%;
	width: 70%;
	height:70%;
}
#page1 .ui-listview .ui-btn .ui-li .ui-link-inherit img{
	z-index: 10;
	left:0px;
	width:100%;
	max-width: 300px;
	max-height: 300px;
}

#page1 .ui-listview .ui-btn .ui-li { border: none; }
#page1 .ui-listview .ui-btn .ui-li .ui-icon { display: none; }
#page1 .ui-listview .ui-btn .ui-li .ui-link-inherit 
{ 
	padding: 100% 0 0 0;
	height:0;
	min-height: 0px;
	font-size: 1em; 
	font-weight: normal; 
}



