.ui-page.ui-body-a.ui-page-active .ui-header.ui-bar-a { display: none; }

#page1 .ui-content { 
	padding-top: 125px; 
	padding-bottom: 15px; 
	margin: 0px 15px 10px 15px; 
}
#username{
	font-size:13px
}
#user{
	position: absolute;
	bottom: 110px;
	left: 50px;
}
#page1 {
	background-color: transparent;
}
#mainContent{
	background-color: transparent;
}

#page1 .ui-listview li{
	background: transparent;
}

#page1 .ui-listview { 
	text-align: center; 
	margin: auto;
	width: 500px;
}

#page1 .ui-listview .ui-btn {
	width: 75px;
	display: inline-block;
	border: none;
	margin: 0px 20px 20px 20px;
}
/* Wordmark and overlay */
#wordmark {
	z-index: 3;
	background: #8c1515;
	padding: 20px 0;
	border-bottom: 4px solid #d2bd86;
}
#wordmark img {
	margin: 0 auto;
	display: block;
}
#page1 div.ui-content {
	margin-top: 10%;
}

#page1 .ui-listview .ui-btn .ui-li { border: none; }
#page1 .ui-listview .ui-btn .ui-li .ui-icon { display: none; }
#page1 .ui-listview .ui-btn .ui-li .ui-link-inherit { 
	font-size: .8em; 
	font-weight: normal; 
	padding: 80px 0px 0px 0px; 
	text-align: center; 
}




